body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.section-heading {
    font-size: 60px;
    color: #333;
}

.section-description {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.column {
    flex: 0 0 calc(33.33% - 100px); /* Adjusted width to fit 3 columns with equal spacing */
    margin: 0 auto 20px 85px; /* Center the columns and add margin-bottom */
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    color: #666;
}




.column img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease; /* Add transition effect */
}
.column img:hover {
    transform: scale(1.05); /* Scale up the image on hover */
}
.column p {
    margin: 0;
    font-weight: bold;
}

.attribute {
    font-weight: bold;
    color: #666;
}

.pet-attribute {
    font-weight: normal;
    color: #666;
}

.description {
    color: orange;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container1 {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-image: url('v1.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.founder-info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px; /* Adjust this value as needed for spacing */
}

.founder-info h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.founder-info h3 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.founder-info p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
.carousel-item img {
    width: 100%;
    height: 50%; /* Set height to half of the width of the viewport */
    object-fit: contain; /* Ensure the image covers the entire space */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
}

.carousel-caption h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.carousel-caption p {
    font-size: 18px;
}