.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-item {
    margin-bottom: 20px;
    
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 23px;
   color: gray;
}

.toggle-btn {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 22px;
    color: green;
}

.answer.show {
    display: block;
}
/* CSS for fading in elements */
/* Apply fade-in effect to all elements */
html {
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}
